.container{
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 10px;
  text-decoration: none;
  position: relative;
}
.container:hover button{
  display: block;
}
.container img{
  padding: 10px;
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.container h3{
  font-size: 20px;

}
.button{
  display: none;
  padding: 5px 10px;
  font-size: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  margin: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 30px;
}
.button:hover{
  background-color: var(--primary-shade);

}
.rating{
  display: flex;
  align-items: center;
  padding: 10px 0;

}
.product_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  max-width: 1450px;
  margin: 100px 50px;
  gap: 20px;
  justify-items: center;
}
.product_container section{
  margin: 0 auto;
}
.product_flexed{
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 50px;
  width: 100%;
}
.product_flexed h3{
  padding: 20px 0;
}
.product_flexed .button{
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;

}
.product_flexed{
  height: 50vh;
}
.product_flexed img{
  width: 300px !important;
  height: auto;

}
@media screen and (max-width: 768px) {
  .product_flexed{
    display: flex;
    flex-direction: column;
  }
  
}
