.category{
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.category img{
  width: 100%;
  object-fit: contain ;
  max-height: 250px;
  padding: 0 10px;
}
.category a{
  text-decoration: none;
  color: rgba(35, 35, 35);
}
.category p{
  font-size: 12px;
  font-weight: bold;
  color: rgb(9,132, 209);
}
.category h2, p{
  padding: 5px;
  margin-left: 15px;
}
.card_container{
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
}
